@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background-image: url(https://vinsmake.github.io/online-checker/background.jpg);
    background-position: center;
    background-repeat: repeat;
}